<h1>The Red Indians</h1>
<hr />

<table class='table table-bordered img-rounded'>
	<tr>
		<td class='credit-col'>
			<ul>
				<li class='credit-pic'>
					<%= image_tag 'vibhor.jpg', :alt => 'Vibhor', :title => 'Vibhor Mahajan' %>
				</li>
				<li class="credit-desc">
					"I, Vibhor Mahajan is 26 and I love to tour on my motorcycle and to read.
					I am a nerd to the core and has written apps for both Desktop and Web and has
					experienced many coding languages and frameworks first-hand."
					<hr />
					<p class='pull-right'>
						Vibhor Mahajan
					</p>
				</li>
			</ul>
		</td>
		<td class='credit-col'>
			<ul>
				<li class='credit-pic'>
					<%= image_tag 'raj.jpg', :alt => 'Raj', :title => 'Raj Kumar' %>
				</li>
				<li class="credit-desc">
					"Better to get up late and be wide awake than to get up early and be asleep all day.
					I'm this kind of person, very passionate and crazy about rails and new technologies.
					Programming is my love and Music is my favorite relaxing tool."
					<hr />
					<p class='pull-right'>
						Raj Kumar
					</p>
				</li>
			</ul>
		</td>
	</tr>
	<tr style='margin:top:20px'>
		<td class='credit-col'>
			<ul>
				<li class='credit-pic'>
					<%= image_tag 'suresh.jpg', :alt => 'Raj', :title => 'Suresh Kumar' %>
				</li>
				<li class="credit-desc">
					"This is Suresh from Hyderabad,India. I am passionate about web and open source technologies.
					My hobbies are web designing and developing and writing blogs"
					<br /><br />
					<hr />
					<p class='pull-right'>
						Suresh Kumar
					</p>
				</li>
			</ul>
		</td>
		<td class='credit-col'>
			<ul>
				<li class='credit-pic'>
					<%= image_tag 'raman.jpg', :alt => 'Raj', :title => 'Raman Bedi' %>
				</li>
				<li class="credit-desc">
					"Hello, I am Raman Bedi. Among my interests are web designing and web development.
					I have enthusiasm about mobile technologies and also like to read blogs on latest mobiles and upcoming advancements in the same."
					<hr />
					<p class='pull-right'>
						Raman Bedi
					</p>
				</li>
			</ul>
		</td>
	</tr>
</table>

<style>
	.credit-col {
		width:50%;
	}

	.credit-pic {
		float: left;
		width: 20%;
		list-style: none;
	}

	.credit-desc {
		float: left;
		width: 70%;
		list-style: none;
		margin-left: 1em;
		text-align: justify;
	}
</style>