<div class="hero-unit pagination-centered">
  <h1>Octo meets Pussy</h1>

  <h2>Octo and Pussy are soulmates. Together they help you manage your projects. Here's how:</h2>

  <p>

  <h4>Track the health of your favorite projects in a glance.</h4>

  <h4>Know if you are lagging behind in your milestones.</h4>

  <h4>Know whats keeping you and your team busy.</h4>

  <h4>And more...</h4>

  </p>
  <div class="content">
    Raman to add his beach image here...
  </div>
</div>
