<div class="row center">
	<ul class="thumbnails center">
		<li class="span4">
			<div class="thumbnail" style='background-color: rosyBrown;'>
				<div class='span2' style="width: 100px;"><img src="http://www.hreat.org/profilepics/nopic.jpg" size='200x200' class="img-rounded"></div>
				<div class='span2' style='min-height:110px'>
					<h3>Thumbnail label</h3>
					<p>Thumbnail caption...</p>
				</div>
				<div class='span4'>
					<div class="progress">
						<div class="bar" style="width: 60%;"></div>
					</div>
				</div>
				<a href='#' class='btn btn-info'>Action</a>
				<a href='#' class='btn'>Action</a>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail" style='background-color: rosyBrown;'>
				<img src="http://placehold.it/300x200" alt="">
				<h3>Thumbnail label</h3>
				<p>Thumbnail caption...</p>
				<a href='#' class='btn btn-info'>Action</a>
				<a href='#' class='btn'>Action</a>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail" style='background-color: rosyBrown;'>
				<img src="http://placehold.it/300x200" alt="">
				<h3>Thumbnail label</h3>
				<p>Thumbnail caption...</p>
				<a href='#' class='btn btn-info'>Action</a>
				<a href='#' class='btn'>Action</a>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail" style='background-color: rosyBrown;'>
				<img src="http://placehold.it/300x200" alt="">
				<h3>Thumbnail label</h3>
				<p>Thumbnail caption...</p>
				<a href='#' class='btn btn-info'>Action</a>
				<a href='#' class='btn'>Action</a>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail" style='background-color: rosyBrown;'>
				<img src="http://placehold.it/300x200" alt="">
				<h3>Thumbnail label</h3>
				<p>Thumbnail caption...</p>
				<a href='#' class='btn btn-info'>Action</a>
				<a href='#' class='btn'>Action</a>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail" style='background-color: rosyBrown;'>
				<img src="http://placehold.it/300x200" alt="">
				<h3>Thumbnail label</h3>
				<p>Thumbnail caption...</p>
				<a href='#' class='btn btn-info'>Action</a>
				<a href='#' class='btn'>Action</a>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail" style='background-color: rosyBrown;'>
				<img src="http://placehold.it/300x200" alt="">
				<h3>Thumbnail label</h3>
				<p>Thumbnail caption...</p>
				<a href='#' class='btn btn-info'>Action</a>
				<a href='#' class='btn'>Action</a>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail" style='background-color: rosyBrown;'>
				<img src="http://placehold.it/300x200" alt="">
				<h3>Thumbnail label</h3>
				<p>Thumbnail caption...</p>
				<a href='#' class='btn btn-info'>Action</a>
				<a href='#' class='btn'>Action</a>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail" style='background-color: rosyBrown;'>
				<img src="http://placehold.it/300x200" alt="">
				<h3>Thumbnail label</h3>
				<p>Thumbnail caption...</p>
				<a href='#' class='btn btn-info'>Action</a>
				<a href='#' class='btn'>Action</a>
			</div>
		</li>
	</ul>
</div>