<div class="row">
	<ul class="thumbnails project-thumbnails">
		<h1>Favourites</h1>
		<hr />
		<li class="span4 center">
			<div class="thumbnail project-thumbnail">
				<div class='span2 owner-pic'><img src="http://www.hreat.org/profilepics/nopic.jpg" class="img-rounded"></div>
				<div class='span2 collaborator-pics'>
					<a href="#"><h3>Thumbnail label</h3></a>
					<p>Thumbnail caption...</p>
				</div>
				<div class='span3'>
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
				</div>
				<div class='span3'>
					<a href="#">
						<div class="progress">
							<div class="bar" style="width: 60%;"></div>
						</div>
					</a>
				</div>
				<div class='controls'>
					<a href='#' class='btn btn-warning'>7 Milestones</a>
					<a href='#' class='btn fav-unfav-btn' id='fav-unfav-1' onclick='favUnfav(1);'><i class='icon-eye-close'></i>Non Favourite</a>
				</div>
			</div>
		</li>
		<li class="span4 center">
			<div class="thumbnail project-thumbnail">
				<div class='span2 owner-pic'><img src="http://www.hreat.org/profilepics/nopic.jpg" class="img-rounded"></div>
				<div class='span2 collaborator-pics'>
					<a href="#"><h3>Thumbnail label</h3></a>
					<p>Thumbnail caption...</p>
				</div>
				<div class='span3'>
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
				</div>
				<div class='span3'>
					<a href="#">
						<div class="progress">
							<div class="bar" style="width: 60%;"></div>
						</div>
					</a>
				</div>
				<div class='controls'>
					<a href='#' class='btn btn-warning'>7 Open Issues</a>
					<a href='#' class='btn btn-success'>7 Closed Issues</a>
					<a href='#' class='btn fav-unfav-btn' id='fav-unfav-2' onclick='favUnfav(2);'><i class='icon-eye-close'></i>Non Favourite</a>
				</div>
			</div>
		</li>
		<li class="span4 center">
			<div class="thumbnail project-thumbnail">
				<div class='span2 owner-pic'><img src="http://www.hreat.org/profilepics/nopic.jpg" class="img-rounded"></div>
				<div class='span2 collaborator-pics'>
					<a href="#"><h3>Thumbnail label</h3></a>
					<p>Thumbnail caption...</p>
				</div>
				<div class='span3'>
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
				</div>
				<div class='span3'>
					<a href="#">
						<div class="progress">
							<div class="bar" style="width: 60%;"></div>
						</div>
					</a>
				</div>
				<div class='controls'>
					<a href='#' class='btn btn-warning'>7 Open Issues</a>
					<a href='#' class='btn btn-success'>7 Closed Issues</a>
					<a href='#' class='btn fav-unfav-btn' id='fav-unfav-3' onclick='favUnfav(3);'><i class='icon-eye-close'></i>Non Favourite</a>
				</div>
			</div>
		</li>
		<li class="span4 center">
			<div class="thumbnail project-thumbnail">
				<div class='span2 owner-pic'><img src="http://www.hreat.org/profilepics/nopic.jpg" class="img-rounded"></div>
				<div class='span2 collaborator-pics'>
					<a href="#"><h3>Thumbnail label</h3></a>
					<p>Thumbnail caption...</p>
				</div>
				<div class='span3'>
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
				</div>
				<div class='span3'>
					<a href="#">
						<div class="progress">
							<div class="bar" style="width: 60%;"></div>
						</div>
					</a>
				</div>
				<div class='controls'>
					<a href='#' class='btn btn-warning'>7 Open Issues</a>
					<a href='#' class='btn btn-success'>7 Closed Issues</a>
					<a href='#' class='btn fav-unfav-btn' id='fav-unfav-4' onclick='favUnfav(4);'><i class='icon-eye-close'></i>Non Favourite</a>
				</div>
			</div>
		</li>
		<li class="span4 center">
			<div class="thumbnail project-thumbnail">
				<div class='span2 owner-pic'><img src="http://www.hreat.org/profilepics/nopic.jpg" class="img-rounded"></div>
				<div class='span2 collaborator-pics'>
					<a href="#"><h3>Thumbnail label</h3></a>
					<p>Thumbnail caption...</p>
				</div>
				<div class='span3'>
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
				</div>
				<div class='span3'>
					<a href="#">
						<div class="progress">
							<div class="bar" style="width: 60%;"></div>
						</div>
					</a>
				</div>
				<div class='controls'>
					<a href='#' class='btn btn-warning'>7 Open Issues</a>
					<a href='#' class='btn btn-success'>7 Closed Issues</a>
					<a href='#' class='btn fav-unfav-btn' id='fav-unfav-5' onclick='favUnfav(5);'><i class='icon-eye-close'></i>Non Favourite</a>
				</div>
			</div>
		</li>
		<li class="span4 center">
			<div class="thumbnail project-thumbnail">
				<div class='span2 owner-pic'><img src="http://www.hreat.org/profilepics/nopic.jpg" class="img-rounded"></div>
				<div class='span2 collaborator-pics'>
					<a href="#"><h3>Thumbnail label</h3></a>
					<p>Thumbnail caption...</p>
				</div>
				<div class='span3'>
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
				</div>
				<div class='span3'>
					<a href="#">
						<div class="progress">
							<div class="bar" style="width: 60%;"></div>
						</div>
					</a>
				</div>
				<div class='controls'>
					<a href='#' class='btn btn-warning'>7 Open Issues</a>
					<a href='#' class='btn btn-success'>7 Closed Issues</a>
					<a href='#' class='btn fav-unfav-btn' id='fav-unfav-6' onclick='favUnfav(6);'><i class='icon-eye-close'></i>Non Favourite</a>
				</div>
			</div>
		</li>
	</ul>
	<ul class="thumbnails project-thumbnails">
		<hr class='unfav' />
		<li class="span4 center">
			<div class="thumbnail project-thumbnail">
				<div class='span2 owner-pic'><img src="http://www.hreat.org/profilepics/nopic.jpg" class="img-rounded"></div>
				<div class='span2 collaborator-pics'>
					<a href="#"><h3>Thumbnail label</h3></a>
					<p>Thumbnail caption...</p>
				</div>
				<div class='span3'>
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
				</div>
				<div class='span3'>
					<a href="#">
						<div class="progress">
							<div class="bar" style="width: 60%;"></div>
						</div>
					</a>
				</div>
				<div class='controls'>
					<a href='#' class='btn btn-warning'>7 Open Issues</a>
					<a href='#' class='btn btn-success'>7 Closed Issues</a>
					<a href='#' class='btn fav-unfav-btn' id='fav-unfav-7' onclick='favUnfav(7);'><i class='icon-eye-open'></i>Favourite</a>
				</div>
			</div>
		</li>
		<li class="span4 center">
			<div class="thumbnail project-thumbnail">
				<div class='span2 owner-pic'><img src="http://www.hreat.org/profilepics/nopic.jpg" class="img-rounded"></div>
				<div class='span2 collaborator-pics'>
					<a href="#"><h3>Thumbnail label</h3></a>
					<p>Thumbnail caption...</p>
				</div>
				<div class='span3'>
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
				</div>
				<div class='span3'>
					<a href="#">
						<div class="progress">
							<div class="bar" style="width: 60%;"></div>
						</div>
					</a>
				</div>
				<div class='controls'>
					<a href='#' class='btn btn-warning'>7 Open Issues</a>
					<a href='#' class='btn btn-success'>7 Closed Issues</a>
					<a href='#' class='btn fav-unfav-btn' id='fav-unfav-8' onclick='favUnfav(8);'><i class='icon-eye-open'></i>Favourite</a>
				</div>
			</div>
		</li>
		<li class="span4 center">
			<div class="thumbnail project-thumbnail">
				<div class='span2 owner-pic'><img src="http://www.hreat.org/profilepics/nopic.jpg" class="img-rounded"></div>
				<div class='span2 collaborator-pics'>
					<a href="#"><h3>Thumbnail label</h3></a>
					<p>Thumbnail caption...</p>
				</div>
				<div class='span3'>
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
					<img src="http://www.hreat.org/profilepics/nopic.jpg" class="collaborators-small img-rounded">
				</div>
				<div class='span3'>
					<a href="#">
						<div class="progress">
							<div class="bar" style="width: 60%;"></div>
						</div>
					</a>
				</div>
				<div class='controls'>
					<a href='#' class='btn btn-warning'>7 Open Issues</a>
					<a href='#' class='btn btn-success'>7 Closed Issues</a>
					<a href='#' class='btn fav-unfav-btn' id='fav-unfav-9' onclick='favUnfav(9);'><i class='icon-eye-open'></i>Favourite</a>
				</div>
			</div>
		</li>
	</ul>
</div>
