<div class="well">
  <table class="table table-striped">
    <thead>
    <tr>
      <td><h2>Name</h2></td>
      <td><h2>Due On</h2></td>
      <td><h2>Creator</h2></td>
      <td class="span4"><h2>Health</h2></td>
      <td><h2>Actions</h2></td>
    </tr>
    </thead>
    <tbody>
    <%= render :collection => @milestones, :partial => 'milestone' %>
    </tbody>
  </table>
</div>
