<div class="well">
  <table id="tasks" class="table table-striped">
    <thead>
    <tr>
      <td><h2>Name</h2>
      <td><h2>Labels</h2></td>
      <td><h2>Assigned to</h2></td>
    </tr>
    </thead>
    <tbody>
    <%= render :collection => @tasks, :partial => 'task' %>
    </tbody>
  </table>
</div>