<hr>
<footer>
  <div class="pagination-centered" style="padding-bottom: 25px;">
    <h3>Rumble Rumble!</h3>
    <%= link_to image_tag('rr-logo-small.png'), 'http://railsrumble.com/entries/212-red-indians', :target => '_blank' %>
  </div>
  <div>
    <ul class="breadcrumb pagination-centered">
      <li>
        <%= link_to '/home/credits', :target => '_blank' do %>
            Meet the team
        <% end %>
        <span class="divider">|</span>
      </li>
      <li>
        <%= link_to 'http://www.smashingboxes.com/using-github-issues-to-manage-projects/', :target => '_blank' do %>
            Github for Project Management
        <% end %>
      </li>
    </ul>
  </div>
</footer>