<hr>
<footer>
  <div class="pagination-centered" style="padding-bottom: 25px;">
    <h3>Rumble Rumble!</h3>
    <%= link_to image_tag('rr-logo-small.png'), 'http://railsrumble.com/entries/212-red-indians', :target => '_blank' %>
  </div>
</footer>